* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: hsl(0, 0%, 14%);
}

.component {
    display: flex;
    gap: 3px;
}

#calculator {
    flex-direction: column;
    background-color: hsl(0, 0%, 10%);
    padding: 15px;
    width: 400px;
    margin: 100px;
}

#digits {
    flex-wrap: wrap;
}

#digits > button {
    background-color: hsl(206, 64%, 48%);
}

#operations {
    flex-wrap: wrap-reverse;
}

#operations > button {
    background-color: hsl(31, 82%, 58%);
}

#controls > button {
    background-color: hsl(0, 0%, 27%);
}

#screen {
    display: flex;
    background-color: hsl(0, 0%, 84%);
    border-radius: 3px;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
}

#display {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: scroll;
}

button {
    font-size: 25px;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 3px;
    flex-grow: 1;
    color: white;
}

.clicked {
    background-color: hsl(30, 57%, 35%);
}
